<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container Details</title>
    <link rel="stylesheet" th:href="@{/static/home.css}">
</head>
<body>
    <h1>Container Details</h1>

    <!-- Контейнер -->
    <div class="container-info">
        <h2 th:text="${container.text}"></h2>
        <p>Описание контейнера:</p>
        <p>Здесь будет описание контейнера.</p>
    </div>

    <!-- Ответы, связанные с контейнером -->
    <div class="answers">
        <h3>Answers:</h3>
        <ul>
            <li th:each="answer : ${answers}">
                <p th:text="${answer.text}"></p>
            </li>
        </ul>
    </div>

    <a href="/">Back to Home</a>
</body>
</html>
