<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container Details</title>
    <link rel="stylesheet" href="styles.css"> <!-- Пример подключения CSS -->
</head>
<body>
    <h1>Выберите вариант ответа</h1>
    
    <form th:action="@{/containers/{userId}/container/{containerId}(userId=${userId}, containerId=${containerId})}" method="post">
        <div th:each="answer : ${answers}">
            <input type="radio" th:id="${answer.id}" th:name="choice" th:value="${answer.id}" required />
            <label th:for="${answer.id}" th:text="${answer.name}"></label>
        </div>
        
        <button type="submit">Проголосовать</button>
    </form>
</body>
</html>


